.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__menu{
    display: flex;
    padding: 2rem;
    gap: 4rem;
    align-items: center;
    justify-content:center;
    position: relative;
    top: 1rem;
    left: 10rem;

}
