@use '../abstract/colors.scss';

.navbar{
    background: colors.$main-color;
    padding: 1rem;

    .navbar__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .logo_navbar_img{
            width: 8rem;
            height: 8rem;
            border-radius: 20%;
            object-fit: cover;
        }

        .div_nav_list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8rem;

            .navbar__menu--links{
                color: black;
                &:hover{
                    color: rgba(185, 10, 194, 0.9);
                }
            }


        }
    }
    
}








