@media only screen and (max-width: 50rem) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .navbar__menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;

        .div_nav_list{
            display: flex;
            flex-direction: column;
        }
    } 

    .section_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .section_mian_foto{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .article_section{
            display: flex;
            justify-content: center;
            max-width: 45rem;
            min-height: 25rem;
            

            .p_article_section{
                display: flex;
                width: 37ch;
            }
            
        }
    }

        
       .article__section-3{
            display: flex;
            flex-wrap: wrap;
          
            
        }


    .section_text-foto{
        display: flex;
        flex-wrap: wrap;
        

        .div_text-foto{
            width: 45rem;
            
        }
    }

    .over{
        display: flex;
        flex-wrap: wrap;
    

    .over__list{
        display: flex;
        flex-wrap: wrap;

        .over__listitem{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.footer{
    display: flex;
    flex-wrap: wrap;

    .section_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}