@media only screen and (max-width: 50rem) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .navbar__menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;

        .div_nav_list{
            display: flex;
            flex-direction: column;
        }
    } 

    .section_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .section_mian_foto{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .article_section{
            display: flex;
            justify-content: center;
            max-width:30rem;
            min-height: 25rem;
            

            .p_article_section{
                display: flex;
                width: 100%;
            }
            
        }
    }

        
       .article__section-3{
            display: flex;
            flex-wrap: wrap;
          
            
        }


    .section_text-foto{
        display: flex;
        flex-wrap: wrap;
        

        .div_text-foto{
            width: 45rem;
            
        }
    }

    .txt_weg{
        display: none;
    }

    .over{
        display: flex;
        flex-wrap: wrap;
    

    .over__list{
        display: flex;
        flex-wrap: wrap;

        .over__listitem{
            display: flex;
            flex-wrap: wrap;
        }
    }
}


// news

.article__sec{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .div__sec{
        position: relative;
        left: 0rem;
        flex-wrap: wrap;
    }
}

.article_featured{
    display: flex;
    flex-wrap: wrap;
}

// agenda

.article__agenda{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 2.5rem;
}

.div_agenda{
    display: flex;
    flex-direction: column;
}

// overmarkant

.article_about{
    display: flex;
    flex-direction: column;

    .div_about{
        display: flex;
        width: 40rem;
        .p_about{
            width: 40rem;
        }

        .img_about{
            max-width: 40rem;
            height: 40rem;
        }
    }
}

// footer

.footer{
    display: flex;
    flex-wrap: wrap;

    .section_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}