

.over__header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 20%;
}




.over__list{
    display: flex;
    padding: 4rem;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.over_h1h1h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.over__listitem{
    list-style: none;
    width: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.over__p{
    width: 30ch;
    text-align: center;
}

.over__icon{
    font-size: 180%;
    padding: 2rem;
    border-radius: 50%;
}